<h2 class="comment"> <%= pluralize(@comments.count, "comment") %></h2>
    <hr />
    <% @comments.each do |comment| %>
        <p class="">From: <b class=""><%= comment.admin.email %></b></p>
        <p class=""> <%= comment.content %></p>
        <% if current_admin == comment.admin %>
            <%= link_to "Supprimer", [comment.post, comment], method: :delete %>
            <%= link_to "Modifier", edit_post_comment_path(comment.post, comment) %>
        <% end %>
     <hr />
    <% end %>
<%= render 'comments/form' %>
