<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% @posts.each do |post| %>
    <div class="col-xs-12 text-center card">
      <div class="card-block">
        <div class="text-center">
          <h2 class="card-title test"><%= post.title %></h2>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime('%b %d, %Y') %></h6>
        </div>
        <div class="card-text">
          <%= raw(post.body).truncate(358) %>
        </div>
        <div class="card-link " style="margin:20px 0;">
          <%= link_to "READ MORE", post_path(post) %>
        </div>

        <% if admin_signed_in? %>
          <%= link_to " ", post_path(post), class: "btn btn-primary glyphicon glyphicon-eye-open" %>
          <%= link_to " ", edit_post_path(post), class: "btn btn-default glyphicon glyphicon-pencil " %>
          <%= link_to " ", post_path(post), class: "btn btn-danger glyphicon glyphicon-trash", data: {:confirm => "Are you sure?"}, method: :delete %>
        <% end %>
        <hr/>

      </div>
    </div>
    <% end %>
  </div>
</div>